@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#app {
    font-family: 'Poppins', sans-serif;
}

.spawn-locations {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://i.postimg.cc/XqLj0TvL/62c7f8001ffc4936ab905945ad9264dd.jpg");
    background-size: cover;
    cursor: default;
}

.location {
    margin-left: 20px;
    margin-top: 5px;
    width: auto;
    margin-right: 50%;
    margin-bottom: 15px;
    transition: 200ms;
    border-radius: .3vh;
    cursor: default;
    text-align: center;
}

.v-btn.location:hover {
    transition: 300ms;
}

.v-btn.location .v-btn__content,
.v-btn.submit-spawn .v-btn__content {
    font-size: 1.4vh!important;
    font-weight: bolder !important;
    color: white!important;
    text-align: center !important;

}

.v-btn.location.selected {
    border-left: 10px solid green!important;
    border-radius: 15px;
}

.submit-spawn {
    height: 120px !important;
    background-color: green !important;
    padding: 10px auto;
    border: 2px dotted white;
    border-radius: 100%!important;
    letter-spacing: 5vh;
    width: auto;
    margin-top: 15vh;
    margin-left: 90%;
    cursor: pointer;
    color: white;
}

.spawn_locations-header {
    margin-bottom: 17px;
    margin-left: 15px;
    margin-top: 65px;
    margin-bottom: 50px;
    letter-spacing: 5vh !important;
}

.spawn_locations-header > p {
    font-family: 'Poppins';
    margin-left: 30px;
    font-weight: bold;
    position: relative;
    color: green;
    text-align: left;
    font-size: 2vh;
}


.slide-top-fade-enter-active {
    transition: all 0.25s ease-in;
}
.slide-top-fade-leave-active {
    transition: all 3s ease-out;
}
.slide-top-fade-enter-from,
.slide-top-fade-leave-to {
    opacity: 0!important;
}
